<div class="page-content">

    <div class="row-fluid">
        <div class="span12">
            <ul id="game-titles">

            </ul>
        </div>
    </div>
    <div class="row-fluid">
        <div class="span12">
            <div id="game-display-window" class="row-fluid">
                <div id="previous-item-button" class="span2">
                    <img class="navArrowLeft" src="/assets/arrowLeft.png"/>
                    <div id="previous-item-window" >

                    </div>
                </div>

                <div id="main-item-window" class="span8">

                </div>

                <div id="next-item-button" class="span2">
                    <img class="navArrowRight" src="/assets/arrowRight.png"/>
                    <div id="next-item-window" >

                    </div>
                </div>
            </div>
        </div>

    </div>



</div>
